<div class="insert">
  <h2> <u>Add Food Item:</u> </h2>
  <br><br>

  <form #insertform="ngForm" (ngSubmit)="insertdata(insertform)" >

   
    <div class="input">
      <input type="number" #fid (ngModel)="fid"  name="fid" id="fid" class="form-control" placeholder="FId">
    </div><br>

   
    <div class="input">
      <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control" placeholder="Name">
    </div><br>

    <div class="input">
      <input type="text" #type (ngModel)="type" name="type" id="type" class="form-control" placeholder="Type">
    </div><br>

    <div class="input">
      <input type="text" #origin (ngModel)="type" name="origin" id="origin" class="form-control" placeholder="Origin">
    </div><br>

    <div class="input">
      <input type="number" #serving (ngModel)="type" name="serving" id="serving" class="form-control"
        placeholder="Serving">
    </div><br>

    <div class="input">
      <input type="number" #price (ngModel)="price" name="price" id="price" class="form-control" placeholder="Price">
    </div><br>



    <button class="btn btn-primary" (click)="add()">Add</button>  
  </form>
</div>