<div class="about">
    <!-- <img src="/assets/banner2.jpg" alt=""> -->
    <h1>
        What’s the <br>
        EatFood story?</h1>

    <h5>With love and support from consumers, EatFood expanded far and <br>
        wide, first through the entire city of Bengaluru and then across the <br>
        entire country. Today, EatFood is the leading food ordering and <br>
        delivery platform in India.
    </h5>
</div>

<div class="purpose">
    <h3 class="text text-white">Our mission is to elevate the quality of life for the urban consumer with unparalleled
        convenience. Convenience
        is what makes us tick. It's what makes us get out of bed and say, "Let's do this."</h3>
</div>

<div class="para">
    <p>A food management system admin panel can be a powerful tool for restaurant owners and operators. With
        features such as menu management, and cost management, this system can help to streamline operations and
        improve efficiency. <br>
        It has the ability to manage menu items. Restaurant owners and operators can easily add or remove menu
        items, change prices, and update descriptions. This helps to keep menus up-to-date and ensures that
        customers have access to the latest offerings.

    </p>
</div>